requests==2.32.5
flake8==7.3.0
black==26.1.0
pydantic==2.12.5
fastapi[standard]==0.132.0
pypdf==6.7.2
google-genai==1.3.0
python-dotenv==1.2.1
sqlalchemy==2.0.46
psycopg2-binary==2.9.11
retell-sdk==5.16.0
loguru==0.7.2
alembic==1.15.1
pytest==8.3.5